---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";
---

<header
  id="main-header"
  class="fixed px-4 md:px-0 left-0 z-20 flex items-center md:relative top-0 h-16 w-full bg-bgColor md:bg-transparent overflow-hidden"
>
  <!-- Background 
			TODO: This approach is not optimal and requires improvements. 
  			- Too many absolutely positioned elements can affect performance. 
  		-->
  <div
    class="md:hidden absolute top-0 left-1/2 -ml-[50vw] w-screen min-h-screen pointer-events-none blur-2xl"
  >
    <div
      class="absolute top-[-90%] right-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-90%] left-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] right-[25%] w-[55%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] left-[25%] w-[55%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-40 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-75%] left-[-25%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-75%] right-[-25%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] left-[-30%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-5"
    >
    </div>
    <div
      class="absolute top-[-85%] right-[-30%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-5"
    >
    </div>
  </div>

  <div class="w-full justify-between sm:flex-col">
    <div class="flex items-center gap-x-2">
      <a
        aria-label={siteConfig.title}
        aria-current={Astro.url.pathname === "/" ? "page" : false}
        class="group flex h-8 items-center hover:filter-none sm:relative"
        href="/"
      >
        <!-- Logo -->

        <div class="pt-2">
          <!-- <img
            src="/public/accent1.png"
            class="inline-block w-44 max-w-full object-contain text-accent-base dark:text-accent-two"
          /> -->
          <!--?xml version="1.0" encoding="utf-8"?-->

          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 1024 768"
            xml:space="preserve"
            class="inline-block size-44 fill-current text-accent-base dark:text-accent-two"
          >
            <path
              fill="#eb614b"
              d="m236.65 354.64c-6.0263-0.0819-11.418 3.1822-14.164 8.5215l-24.74 47.68c-0.56952 1.139 0.24316 2.5215 1.5449 2.5215h9.1133c0.65088 0 1.2195-0.32501 1.5449-0.89453l22.699-44.016c1.0577-2.034 3.0119-2.2773 3.7441-2.2773 0.73224 0 2.6845 0.24336 3.7422 2.2773l22.699 44.016c0.32544 0.56952 0.89403 0.89453 1.5449 0.89453h9.1133c1.3018 0 2.1144-1.3824 1.5449-2.5215l-24.488-47.27c-2.5222-4.8816-7.2423-8.381-12.693-8.8691-0.4068-0.0356-0.81114-0.0551-1.2129-0.0605zm249.17 0c-6.0263-0.0819-11.418 3.1822-14.164 8.5215l-24.734 47.678c-0.56952 1.139 0.24511 2.5215 1.5469 2.5215h9.1113c0.65087 0 1.2214-0.32501 1.5469-0.89453l22.699-44.016c1.0577-2.034 3.01-2.2773 3.7422-2.2773 0.73224 0 2.6845 0.24336 3.7422 2.2773l22.699 44.016c0.32544 0.56952 0.89598 0.89453 1.5469 0.89453h9.1113c1.3018 0 2.1164-1.3824 1.5469-2.5215l-24.49-47.27c-2.5222-4.8816-7.2403-8.381-12.691-8.8691-0.4068-0.0356-0.81115-0.0551-1.2129-0.0605zm-198.16 1.7695c-0.89496 0-1.709 0.73266-1.709 1.709v8.0547c0 0.97632 0.81402 1.707 1.709 1.707h49.385c3.0917 0 5.6152 2.5236 5.6152 5.6152 0 3.0917-2.5236 5.6133-5.6152 5.6133h-49.385c-0.89496 0-1.709 0.81402-1.709 1.709v30.834c0 0.89496 0.81402 1.709 1.709 1.709h8.0547c0.97631 0 1.709-0.81402 1.709-1.709v-20.99h29.127c2.7662 0 5.3688 1.4654 6.752 3.9062l10.088 17.898c0.32543 0.56952 0.89599 0.89453 1.5469 0.89453h9.2754c1.3018 0 2.1157-1.4645 1.4648-2.6035l-12.123-21.396c6.2647-2.5222 10.658-8.7056 10.658-15.865 0-9.4377-7.7302-17.086-17.168-17.086zm82.684 0c-0.89496 0-1.709 0.73266-1.709 1.709v8.0547c0 0.97632 0.81403 1.707 1.709 1.707h49.387c3.0917 0 5.6133 2.5236 5.6133 5.6152 0 3.0917-2.5216 5.6133-5.6133 5.6133h-49.387c-0.89496 0-1.709 0.81402-1.709 1.709v30.834c0 0.89496 0.81403 1.709 1.709 1.709h8.0547c0.97632 0 1.709-0.81402 1.709-1.709v-20.99h29.127c2.7662 0 5.3688 1.4654 6.752 3.9062l10.09 17.898c0.32545 0.56952 0.89405 0.89453 1.5449 0.89453h9.2754c1.3018 0 2.1157-1.4645 1.4648-2.6035l-12.123-21.396c6.2647-2.5222 10.658-8.7056 10.658-15.865 0-9.4377-7.7283-17.086-17.166-17.086zm153.42 0c-1.3018 0-2.1157 1.4645-1.4648 2.6035l12.367 21.885c3.4171 6.0206 9.8442 9.7637 16.76 9.7637h0.1621v20.99c0 0.89496 0.73268 1.709 1.709 1.709h8.0547c0.97632 0 1.709-0.81402 1.709-1.709v-20.99h0.32617c6.9156 0 13.343-3.743 16.76-9.7637l12.365-21.885c0.65088-1.139-0.16182-2.6035-1.5449-2.6035h-9.1934c-0.65089 0-1.2214 0.32501-1.5469 0.89453l-10.088 17.898c-1.3831 2.4408-3.9857 3.9062-6.752 3.9062h-11.961c-2.8476 0-5.3688-1.4654-6.752-3.9062l-10.17-17.898c-0.24408-0.56952-0.81397-0.89453-1.4648-0.89453zm77.053 0c-0.89496 0-1.709 0.73266-1.709 1.709v8.0547c0 0.97632 0.81403 1.707 1.709 1.707h27.012v43.771c0 0.89496 0.73267 1.709 1.709 1.709h8.0527c0.97633 0 1.709-0.81402 1.709-1.709v-43.771h27.012c0.89495 0 1.709-0.73071 1.709-1.707v-8.0547c0-0.97632-0.81403-1.709-1.709-1.709zm79.109 0c-0.89496 0-1.709 0.73266-1.709 1.709v8.0547c0 0.97632 0.81402 1.707 1.709 1.707h64.926c0.97632 0 1.7891-0.73071 1.7891-1.707v-8.0547c0-0.97632-0.81274-1.709-1.7891-1.709zm77.541 0c-1.3018 0-2.1138 1.4645-1.4629 2.6035l12.041 21.316c0.97632 1.7086 2.1963 3.2529 3.498 4.5547-1.3018 1.3018-2.5217 2.8481-3.498 4.5566l-12.041 21.316c-0.65088 1.139 0.16113 2.6035 1.4629 2.6035h9.2754c0.65088 0 1.2208-0.32501 1.4648-0.89453l9.8438-17.41c1.6272-2.6849 4.4754-4.3945 7.6484-4.3945h10.82c3.0917 0 6.0206 1.7097 7.5664 4.3945l9.8457 17.41c0.32544 0.56952 0.89404 0.89453 1.5449 0.89453h9.1934c1.3831 0 2.1978-1.4645 1.5469-2.6035l-12.123-21.316c-0.89496-1.7086-2.1149-3.2549-3.498-4.5566 1.3831-1.3018 2.6031-2.8461 3.498-4.5547l12.123-21.316c0.65088-1.139-0.16376-2.6035-1.5469-2.6035h-9.1934c-0.65088 0-1.2195 0.32501-1.5449 0.89453l-9.8457 17.41c-1.5458 2.6849-4.4747 4.3945-7.5664 4.3945h-10.82c-3.173 0-6.0212-1.7097-7.6484-4.3945l-9.8438-17.41c-0.24408-0.56952-0.81396-0.89453-1.4648-0.89453zm-77.541 22.699c-0.89496 0-1.709 0.81274-1.709 1.7891v30.754c0 0.89496 0.81402 1.709 1.709 1.709h64.926c0.97632 0 1.7891-0.81402 1.7891-1.709v-8.0547c0-0.97632-0.81274-1.707-1.7891-1.707h-55.162v-11.229h43.689c0.97631 0 1.709-0.81274 1.709-1.7891v-7.9746c0-0.97632-0.73267-1.7891-1.709-1.7891z"
            ></path>
          </svg>
        </div>

        <!-- <div title={siteConfig.title}>
          <svg
            class="inline-block size-8 fill-current text-accent-base dark:text-accent-two drop-shadow-[0px_2.5px_2.5px_rgba(0,0,0,0.35)]"
          >
            <use href="/brand.svg#citrus"></use>
          </svg>
        </div> -->

        <strong
          class="'max-[320px]:hidden' bg-clip-text text-transparent bg-gradient-to-r from-accent-one to-accent-two hidden xs:block z-10 mb-0.5 ms-2 text-2xl group-hover:text-accent-one"
        >
        </strong>
      </a>
      <nav
        aria-label="Main menu"
        class="top-20 text-sm mx-auto ml-4 ml-auto hidden flex-col items-end justify-center gap-x-4 rounded-md bg-bgColor font-medium text-accent-two shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:shadow-none sm:backdrop-blur-none md:flex"
        id="main-navigation-menu"
      >
        <!--				
				<a
					aria-current={Astro.url.pathname === "/" ? "page" : false}
					class="flex gap-x-1 h-8 items-center justify-center rounded-lg underline-offset-2 hover:underline"
					href="/"
				>	
					<Icon
						class="size-4 drop-shadow-[0px_1.5px_1.5px_rgba(0,0,0,0.175)]"
						name="solar:home-2-bold"
					/>
					Home
				</a>
				<a
					aria-current={Astro.url.pathname === "/" ? "page" : false}
					class="flex gap-x-1 h-8 items-center justify-center rounded-lg underline-offset-2 hover:underline"
					href="/"
				>	
					<Icon
						class="size-4 drop-shadow-[0px_1.5px_1.5px_rgba(0,0,0,0.175)]"
						name="solar:archive-bold"
					/>
					Blog
				</a>
				-->

        <!-- Ссылки меню -->
        {
          menuLinks.map((link) => (
            <a
              aria-current={Astro.url.pathname === link.path ? "page" : false}
              class="underline-offset-2 hover:underline"
              data-astro-prefetch
              href={link.path}
            >
              {link.title}
            </a>
          ))
        }

        <!-- <a
					class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
					data-astro-prefetch
					href="/posts/citrus-docs/intro/"
				>
					Docs
				</a> -->

        <!-- Dropdown menu button for large screens. Needs improvement. -->
        <!--
				<button
					aria-expanded="false"
					aria-haspopup="menu"
					aria-label="Open main menu"
					class="hidden md:flex group text-sm relative h-8 w-16 font-medium items-center justify-center px-4 rounded-lg bg-accent-base/5 text-accent-base hover:bg-accent-base/10"
					id="toggle-navigation-menu"
					type="button"
				>
					Menu
				</button>
				-->
      </nav>

      <!-- Dropdown menu for large screens. Needs improvement. -->
      <!--
			<div id="menu" class="absolute left-0 right-0 w-fit ml-auto top-16 z-10 hidden" aria-hidden="true">
				<div
					id="menu-body"
					class="fixed bg-bgColor rounded-lg -ml-56 w-56"
				>
					<nav
						aria-label="Main menu"
						class="px-4 py-4 rounded-lg border border-special-lighter bg-special-light shadow-[0px_10px_25px_rgba(0,0,0,0.15)] text-sm flex flex-col gap-y-2 font-medium"
						id="main-navigation-menu"
					>
						{
							menuLinks.map((link) => (
								<a
									aria-current={Astro.url.pathname === link.path ? "page" : false}
									class="text-accent-two underline-offset-2 hover:underline rounded-lg h-8 gap-x-1 px-2 flex justify-center items-center"
									data-astro-prefetch
									href={link.path}
								>
									{link.title}
								</a>
							))
						}
						<a
							class="flex h-8 items-center justify-center rounded-lg bg-accent-base/5 hover:bg-accent-base/10 px-4 text-accent-base"
							data-astro-prefetch
							href="/posts/citrus-docs/intro/"
						>
							Docs
						</a>
					</nav>
				</div>
			</div>
			-->

      <div class="ml-auto w-fit">
        <div
          id="buttons-panel"
          class="top-4 md:top-8 -ml-[4.5rem] flex space-x-2"
        >
          <ThemeToggle />
        </div>
      </div>

      <!-- <mobile-button
        aria-expanded="false"
        aria-haspopup="menu"
        aria-label="Open main menu"
        class="group relative h-8 w-8 rounded-lg bg-color-100 hover:bg-accent-base/10 text-accent-base md:invisible md:hidden"
        id="toggle-nav-menu-mobile"
        type="button"
      >
        <Icon
          id="open-nav-menu-icon"
          aria-hidden="true"
          class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-100 opacity-100 transition-all"
          focusable="false"
          name="hugeicons:menu-01"
        />
        <Icon
          id="close-nav-menu-icon"
          aria-hidden="true"
          class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all"
          focusable="false"
          name="hugeicons:cancel-01"
        />
      </mobile-button> -->
    </div>
  </div>
</header>

<div id="drawer" class="fixed inset-0 z-10 hidden" aria-hidden="true">
  <div
    id="drawer-body"
    class="absolute inset-0 -translate-y-full transform bg-bgColor transition-all duration-300 ease-in-out"
  >
    <!-- Background 
			TODO: This approach is not optimal and requires improvements. 
  			- Too many absolutely positioned elements can affect performance. 
  		-->
    <div
      class="fixed top-0 left-1/2 -ml-[50vw] w-screen pointer-events-none min-h-screen overflow-x-hidden overflow-y-visible blur-2xl"
    >
      <!--
				<div class="fixed blur-xl top-0 left-0 w-full h-16 md:h-20 bg-gradient-to-b from-indigo-300 via-purple-300 to-transparent opacity-10 dark:opacity-5"></div>
				-->
      <div
        class="absolute top-[-90%] right-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-90%] left-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-85%] right-[25%] w-[55%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-85%] left-[25%] w-[55%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-75%] left-[-25%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-75%] right-[-25%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-85%] left-[-30%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-5"
      >
      </div>
      <div
        class="absolute top-[-85%] right-[-30%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-5"
      >
      </div>
    </div>

    <nav
      aria-label="Mobile navigation menu"
      class="text-lg absolute inset-0 flex flex-col items-center justify-center gap-y-4 text-center font-medium text-accent-two"
      id="nav-menu-mobile"
    >
      <!-- Ссылки меню -->
      {
        menuLinks.map((link) => (
          <a
            aria-current={Astro.url.pathname === link.path ? "page" : false}
            class="underline-offset-2 hover:underline"
            data-astro-prefetch
            href={link.path}
          >
            {link.title}
          </a>
        ))
      }
      <a
        class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
        data-astro-prefetch
        href="/series/citrus-docs"
      >
        Docs
      </a>
    </nav>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleNavMenuMobileButton = document.getElementById(
      "toggle-nav-menu-mobile"
    );
    const openMenuIcon = document.getElementById("open-nav-menu-icon");
    const closeMenuIcon = document.getElementById("close-nav-menu-icon");
    const drawer = document.getElementById("drawer");

    // Проверяем существование элементов
    if (
      !toggleNavMenuMobileButton ||
      !openMenuIcon ||
      !closeMenuIcon ||
      !drawer
    ) {
      console.error("One or more required elements are missing in the DOM.");
      return;
    }

    const drawerBody = document.getElementById("drawer-body");
    if (!drawerBody) {
      console.error("Drawer body element is missing in the DOM.");
      return;
    }

    toggleNavMenuMobileButton.addEventListener("click", () => {
      const isOpen =
        toggleNavMenuMobileButton.getAttribute("aria-expanded") === "true";

      if (isOpen) {
        // Закрываем меню
        drawerBody.classList.add("opacity-0", "-translate-y-full");
        drawerBody.classList.remove("translate-y-0");

        // Убираем после анимации
        setTimeout(() => {
          drawer.classList.add("hidden");
        }, 300);

        // Меняем иконки
        openMenuIcon.classList.add("scale-100", "opacity-100");
        closeMenuIcon.classList.add("scale-0", "opacity-0");
        closeMenuIcon.classList.remove("scale-100", "opacity-100");
      } else {
        // Показываем меню
        drawer.classList.remove("hidden");
        drawerBody.classList.add("translate-y-0");
        drawerBody.classList.remove("opacity-0", "-translate-y-full");

        // Меняем иконки
        openMenuIcon.classList.add("scale-0", "opacity-0");
        closeMenuIcon.classList.add("scale-100", "opacity-100");
        openMenuIcon.classList.remove("scale-100", "opacity-100");
      }

      // Обновляем состояние кнопки
      toggleNavMenuMobileButton.setAttribute(
        "aria-expanded",
        (!isOpen).toString()
      );
    });
  });
</script>
